@charset "UTF-8";

*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}



header h1 {
    text-align: center;
    
}

span#menu {
   background-color: black;
   color: midnightblue;
   display: block;
   padding: 10px;
   text-align: center;
   margin: 5px;
   width: 100vw;
}

span#menu:hover {
   background-color: midnightblue;
   color: blanchedalmond;
}

 menu {
    display: none;
    
 }

 menu a {
   background-color: midnightblue;
   display: block;
   list-style-type:none ;
   padding: 5px;
   text-decoration: none;
   color: white;
   text-align: center;
   border-top: 1px black solid; 
 }

 menu a:hover {
   font-size: 1.1em;
   color: black;
   transition: transform .5s;
 }


 #Banner {
    background-image: url(imagem/ChatGPT\ Image\ 21\ de\ abr.\ de\ 2025\,\ 19_59_32.png);

    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 200px;
    background-color: black;
 }

#Produtos {
    padding: 40px 20px;

}

#Produtos h2 {
    margin-bottom: 15px;
    text-align: center;
}


 .pdt {
    width: 93vW;
    background-color: midnightblue;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.274);
    display: flex;
    gap: 40px ;
    align-items: center;
    justify-content: center;
    align-content: center;


 }


  h3 {
    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(23, 61, 150, 1) 0%, rgba(50, 77, 128, 1) 10%, rgba(255, 255, 255, 1) 100%);
    
    
 }

 .produto {
    
    background-color: midnightblue;
    color: white;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    
    text-align: center;
 }

 .produto img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    
 }

 .produto h4 {
    font-size: 1.1em;
    margin: 5px 0;
 }

 .produto p {
    color: green;
    font-weight: bold;
 }

 .produto:hover {
   background-color: black;
   box-sizing: border-box;
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.219);
   border: solid black 2px;
   transition: transform .5s border .5s; 
 }

 footer {
    text-align: center;
    padding: 15px;
    background-color: aquamarine;
    margin-top: 30px;
 }