@charset "UTF-8";

*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f3f4f6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    font-style: normal;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   justify-items: center;
   padding: 20px;
}

header h1 {
   text-align: center;
   width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4em;
    
}

span#menu {
   background-color:white;
   color: black;
   text-align: center;
   cursor: pointer;
   
   
}

span#menu:hover {
   background-color: black;
   color: blanchedalmond;
}

 menu {
    display: none;
    font-size: 1.1rem;
    text-decoration: none;
    width: 30vw;
    overflow: hidden;
    
 }

 menu a {
   background-color:black;
   display: block;
   list-style-type:none ;
   padding: 5px;
   text-decoration: none;
   color: white;
   text-align: center;
   border-top: 1px black solid; 
 }

 menu a:hover {
   font-size: 1.1em;
   color: black;
   background-color: white;
   
   transition: transform .5s;
 }


#Produtos {
    padding: 40px 20px;
    text-align: center;

}

#Produtos h2 {
    margin-bottom: 15px;
    text-align: center;
}


 .pdt {
    width: 93vW;
    background-color:white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.274);
    display: flex;
    gap: 40px ;
    align-items: center;
    justify-content: center;
    align-content: center;


 }


  h3 {
   background-color: #fff;
   color: #1f2937;
   padding: 5px 15px;
   border-radius: 8px 8px 0px 0px;
   box-shadow: 0px 2px px rgba(0, 0, 0, 0.26);
   font-size: 1.2em;
    
 }

 .produto {
    
    background-color: white;
    color: black;
    
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    
    text-align: center;
 }

 .produto img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    
 }

 .produto h4 {
    font-size: 1.1em;
    margin: 5px 0;
 }

 .produto p {
    color: green;
    font-weight: bold;
 }

 .produto:hover {
   background-color: black;
   box-sizing: border-box;
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.219);
   color: white;

   transition: all .5s ease; 
 }

 footer {
    text-align: center;
    padding: 15px;
    background-color: whitesmoke;
    margin-top: 30px;
 }